In [20]:
run cal_han 10 30

70.8

In [4]:
run cal_han 426 3.1

1108.695

In [5]:
run cal_han 430 3.1

1846.8249999999998

In [6]:
run cal_han 430 4

1794.85

In [7]:
run cal_han 440 5

3444.2

In [15]:
df.shape

(31, 12)

In [16]:
df.head()

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,f_11,f_12
0,0.0,0.1,0.5,1.0,3.0,5.0,7.1,10.1,14.1,20.1,25.1,30.0
1,42.0,42.1,42.5,43.0,44.9,46.9,48.8,51.7,55.6,61.3,66.1,70.8
2,83.9,84.0,84.3,84.8,86.7,88.6,90.4,93.2,97.0,102.5,107.1,111.7
3,167.4,167.5,167.9,168.3,170.1,171.9,173.6,176.3,179.8,185.1,189.4,193.8
4,2611.3,251.2,251.2,251.9,253.6,255.3,256.9,259.4,262.8,267.8,272.0,276.1